@import url(//db.onlinewebfonts.com/c/3b7ae3b725a8d7bcc2e2d9459d5d30f7?family=Depot+New);

* {
    font-family: "Depot New", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

html, body {
    height: 100%;
    margin: 0;
}

.nav {
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: #000;
    height: 40px
}

.nav-cell {
    width: 50%;
    margin: auto;
}

.nav-item {
    color: #000;
    margin: auto;
    padding: 10px;
    float: right;
    text-decoration: none;
    position: absolute;
    top: 5;
    right: 140px;
}

img {
    height: 60px;
    border-radius: 100%;
    margin: auto;
}

.background {
    background-color: #ebebeb;
    width: 100%;
}

.top {
    width: 100%;
    display: flex;
}

.top-content, .bottom-content {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 40px;
}

.title {
    font-size: 60px;
}

.user-info {
    padding: 5px;
}

.top-content-right {
    margin-left: 40px;
}

.top-content-left {
    margin-left: 96px;
}

.bottom {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 96px;
}

.bottom-content {
    flex-direction: column;
    text-align: center;
}

.bottom-content-left, .bottom-content-right {
    width: 50%;
    text-align: center;
}


.stat-title {
    text-decoration: underline;
}

.stat {
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: center;
    padding: 8px;
}

p, h1 {
    margin: 0;
}

h1 {
    font-size: 24px;
}


@media only screen and (max-width: 600px) {
    .top, .bottom {
        width: 100%
    }
    
    .bottom {
        flex-direction: column;
        margin-top: 20px;
    }

    .top {
        flex-direction: column;
    }
    
    .top-content, .bottom-content {
        width: max-content;
    }

    .top-content-right, .top-content-left, .bottom-content-left, .bottom-content-right {
        margin: auto;
    }

    .top-content-left {
        margin-right: 32px;
        margin-left: -32px;
    }

    .nav-cell {
        width: max-content;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
    }

    .nav-item {
        position: initial;
        float: none;
    }
}