@import url(//db.onlinewebfonts.com/c/3b7ae3b725a8d7bcc2e2d9459d5d30f7?family=Depot+New);

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #fff;
}


* {
    font-family: "Depot New", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color:#8c8c8c;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 24px;
}

h1.stats,
h1.stat-title {
    font-size: 40px;
    color: #32364a;
}

h1.title {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}


.background {
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav {
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: #000;
    height: 40px
}

.nav-cell {
    width: 50%;
    margin: auto;
}

.nav-item {
    margin: auto;
    padding: 10px;
    float: right;
    text-decoration: none;
    position: absolute;
    top: 5;
    right: 140px;
}

.top {
    width: 100%;
    display: flex;
}


.top-content, .bottom-content {
    display: flex;
    justify-content: center;
    margin: auto;
}


.bottom-content {
    flex-direction: column;
    text-align: center;
}

.number {
    color: #fff;
    font-family: 'Titan One', cursive;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 6px;
}

button,
.modal-btn, 
.btn {
    width: 50%;
    color: #fff;
    border: 3px solid #ad94de;
    border-radius: 10px;
    height: 2.5em;
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2), 0 9px 23px 0 rgba(0, 0, 0, 0.19);
}

.stats-container {
    display: flex;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #888;
    border-radius: 10px;
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-content-left {
    width: 40%;
    margin: 10px;
}
